html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url(img/BG.png);
    background-position: center;
    background-size: 100% 100%;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
  }

.img-tortuga {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 15%;
z-index: 1;
}

.img-dialogo{
  position: absolute;
  top: 80%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  }

.img-cueva {
  position:absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 3;
}

#dialogtext{
  position: absolute;
  color:#996633;
  left:50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

#opciones{
  display: none;
  animation-name: opciones;
  animation-direction: alternate;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.img-opcionl{
  position: absolute;
  top: 15%;
  left:18%;
  width: 20%;
  z-index: 4;
}

#cifrar{
  position: absolute;
  top: 15%;
  right:18%;
  width: 20%;
  height: 200px;
  z-index: 4;
  background-color: #99663300;
  border-color: #99663300;
  font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap;
    padding: 1em;
    color:#996633;
}

#decifrar{
  position: absolute;
  top: 15%;
  left:18%;
  width: 20%;
  height: 200px;
  z-index: 4;
  background-color: #99663300;
  border-color: #99663300;  
  font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap;
    padding: 1em;
    color:#996633;
}

#cifrar:hover{
  border-color: #996633;  
}

#decifrar:hover{
  border-color: #996633;  
}

.img-opcionr{
  position: absolute;
  top: 15%;
  right:18%;
  width: 20%;
  z-index: 4;
}

@keyframes opciones {
  0%{
    transform: translateY(120px);
  }
  100%{
    transform: translateY(100px);
  }  
}

/*#alien, #karate, #homura, #nada{
display: none;
}*/
