html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url(img/BG.png);
    background-position: center;
    background-size: 100% 100%;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
  }

  h1{
    text-align: center;
    font-size: 20px;
    color: #00cc66;
  }

.img-tortuga {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 15%;
z-index: 1;
}

.img-dialogo{
  position: absolute;
  top: 80%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  }

.img-cueva {
  position:absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 3;
}

#dialogtext{
  position: absolute;
  color:#996633;
  left:50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

#opciones{
  display: none;
  animation-name: opciones;
  animation-direction: alternate;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.img-opcionl{
  position: absolute;
  top: 15%;
  left:18%;
  width: 20%;
  z-index: 4;
}

#cifrar{
  position: absolute;
  top: 15%;
  right:18%;
  width: 20%;
  height: 200px;
  z-index: 4;
  background-color: #99663300;
  border-color: #99663300;
  font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap;
    padding: 1em;
    color:#996633;
}

#decifrar{
  position: absolute;
  top: 15%;
  left:18%;
  width: 20%;
  height: 200px;
  z-index: 4;
  background-color: #99663300;
  border-color: #99663300;  
  font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap;
    padding: 1em;
    color:#996633;
}

#cifrar:hover{
  border-color: #996633;  
}

#decifrar:hover{
  border-color: #996633;  
}

.img-opcionr{
  position: absolute;
  top: 15%;
  right:18%;
  width: 20%;
  z-index: 4;
}

@keyframes opciones {
  0%{
    transform: translateY(120px);
  }
  100%{
    transform: translateY(100px);
  }  
}

#ciphermessage, #deciphermessage, #cipherimage, #decipherimage, #results {
display: none;
}

/* sigue en dónde escribes el mensaje */

#buttoncipher, #buttondecipher{
  position:absolute;
  z-index: 3;
  right: 10%;
  bottom: 10%;
  display: none;
}

.img-message{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
textarea{
  resize: none;
  position:absolute;
  left: 5% ;
  top: 25%;
  z-index: 2;
  background-color: #99663300;
  color: #996633;
  width: 90%;
  height: 65%;
  border-color: rgba(0, 0, 0, 0);
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  font-size: 16px;
}

textarea:hover{
  border-color: #996633;
}

/*sigue la imagen del cipher*/

:root {
  --turn: 1turn;
}

.div-circuloexterno {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 1;
}

.img-cueva {
  position:absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 5;
}

.img-circulocentral {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  margin: auto;
  z-index: 3;
}

.img-circulomedio{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  margin: auto;
  z-index: 2;
}


#img-circuloexterno {
  width: 80%;
  margin: auto;
}

#instructions{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  word-wrap: break-word;
  margin: auto;
  z-index: 4;
}

#flechitas {
  color: #996633;
  font-weight: 500;
  font-size: 12px;
}
@keyframes girarcipher {
  0% {  
  transform: rotate(0);
  }
  100%{  
  transform: rotate(var(--turn));
  }
}

@keyframes girarcipher1 {
  0% {  
  transform: rotate(0);
  }
  100%{  
  transform: rotate(var(--turn));
  }
}

#botoncitofiufiu, #botoncitofuafua {
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
  font-size: 11px;
  color: #996633;
  display: none;
  text-align: center;
  margin: auto;
}

.regresarinicio {
  position: absolute;
  z-index: 4;
  bottom: 10%;
  right: 10%;
  width: 20%;
}

#img-return {
  display: none;
}

.botonregresar{
  position: absolute;
  z-index: 5;
  bottom: 10%;
  right: 10%;
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  font-size: 16px;
  color: #996633;
  background-color: #99663300;
border-color: #99663300;  
width: 20%;
height: 10%;
white-space: pre-wrap;
}

.botonregresar:hover {
  border-color: #996633;  
}

#btn-ciphermessage, #btn-deciphermessage {
  display: none;
}

/*imagen de resultados*/

#div-results {
  position: absolute;
  z-index: 3;
  left: 5% ;
  top: 25%;
  z-index: 2;
  color: #996633;
  width: 90%;
  height: 65%;
  word-wrap: break-word;
}
